@import services.TeamStadiumView

@(playerForm: Form[PlayerData],teamList: List[TeamStadiumView])(implicit request: RequestHeader, messagesProvider: MessagesProvider)
@import views.html.helper.CSRF

@main("Create Player") {
    <p class="form-instructions">Enter a player:</p>
    @helper.form(action = routes.
    PlayerController.create()) {
        @CSRF.formField
        @helper.inputText(playerForm("firstName"), Symbol("_label") -> "First Name *", Symbol("_showConstraints") -> false, Symbol("_class") -> "form-input-field")
        @helper.inputText(playerForm("lastName"), Symbol("_label") -> "Last Name *", Symbol("_showConstraints") -> false, Symbol("_class") -> "form-input-field")
        @helper.select(
            field = playerForm("team"),
            options = teamList.map(t => t.id.toString -> t.name), Symbol("_label") -> "Team *", Symbol("_showConstraints") -> false, Symbol("_class") -> "form-input-field"
        )
        @helper.select(
            field = playerForm("position"),
            options = List(
                "GoalKeeper" -> "GoalKeeper",
                "RightFullback" -> "RightFullback",
                "LeftFullback" -> "LeftFullback",
                "CenterBack" -> "CenterBack",
                "Sweeper" -> "Sweeper",
                "Striker" -> "Striker",
                "HoldingMidfielder" -> "HoldingMidfielder",
                "RightMidfielder" -> "RightMidfielder",
                "Central" -> "Central",
                "AttackingMidfielder" -> "AttackingMidfielder",
                "LeftMidfielder" -> "LeftMidfielder"
                ), Symbol("_label") -> "Position *", Symbol("_showConstraints") -> false, Symbol("_class") -> "form-input-field"
        )
        <p class="required-field-key">* required field</p>
        <button type="submit" id="submit" class="btn btn-primary">Submit</button>
    }
}