body {
    font-family: "Times New Roman", Georgia, Serif;
    background-color: coral;
}

.form-input-field dd {
    color: red;
}

.form-instructions {
    font-size: 2rem;
    font-weight: 600;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display";
  letter-spacing: 5px;
}

h1 {
    text-align: center;
    padding: 1em;
}

.main-content-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2rem 6rem;
}

.nav-container {
    background: #FF875C;
}

.navbar-brand {
    color: #000000;
}

.navbar-brand:hover {
    color: #003e80;
}

.navbar-brand:active {
    color: #0056b3;
}

.required-field-key {
    font-size: 0.75rem;
    color: #737373;
}

.nav-link {
    color: #000000 !important;
}