body {
    font-family: "Times New Roman", Georgia, Serif;
    background-color: coral;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display";
  letter-spacing: 5px;
}

h1 {
    text-align: center;
}

.nav-container {
    background: #FF875C;
}

.nav-link, dropdown {
    color: white; !important
}


.navbar-brand {
    color: #0056b3;
}

.navbar-brand:hover {
    color: #0076F5;
}

.img-wrap {

}