@(stadiumForm: Form[StadiumData])(implicit request: RequestHeader, messagesProvider: MessagesProvider)
@import views.html.helper.CSRF

@main("Create Stadium") {
    @helper.form(action = routes.StadiumController.create()) {
        @CSRF.formField
        @helper.inputText(stadiumForm("name"), '_label -> "Name *", '_showConstraints -> false)
        @helper.inputText(stadiumForm("city"), '_label -> "City *", '_showConstraints -> false)
        @helper.inputText(stadiumForm("country"), '_label -> "Country *", '_showConstraints -> false)
        @helper.inputText(stadiumForm("seats"), '_label -> "Seats *", '_showConstraints -> false)
        <p class="required-field-key">* required field</p>
        <button type="submit" id="submit" class="btn btn-primary">Submit</button>
    }
}