@(teamForm: Form[TeamData])(implicit request: RequestHeader, messagesProvider: MessagesProvider)
@import views.html.helper.CSRF

@main("Create Team") {
  <p class="form-instructions">Enter a team:</p>
  @helper.form(action = routes.TeamController.create()) {
    @CSRF.formField
    @helper.inputText(teamForm("name"), Symbol("_label") -> "Name *", Symbol("_showConstraints") -> false, Symbol("_class") -> "form-input-field")
    @helper.inputText(teamForm("stadium"), Symbol("_label") -> "Stadium *", Symbol("_showConstraints") -> false, Symbol("_class") -> "form-input-field")
    <p class="required-field-key">* required field</p>
    <button type="submit" id="submit" class="btn btn-primary">Submit</button>
  }
}