@import services.TeamStadiumView

@(teamStadiumViews: List[TeamStadiumView])

@main("Teams"){
@if(teamStadiumViews.size == 1) {
  <h1>Welcome, there is @teamStadiumViews.size team to look at!</h1>
} else {
  <h1>Welcome, there are @teamStadiumViews.size teams to look at!</h1>
}

<table class="table">
  <thead>
  <tr>
    <th scope="col">Name</th>
    <th scope="col">Stadium</th>
  </tr>
  </thead>
  <tbody>
  @for(teamView <- teamStadiumViews) {
  <tr>
    <td><a href="@routes.TeamController.show(teamView.id)">@teamView.name</a></td>
    <td>@teamView.stadiumName</td>
  </tr>
  }
  </tbody>
</table>
}